<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <style>
        .button-link {
            display: inline-block;
            padding: 5px 5px;
        }

        button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<h1>Login</h1>
<div th:if="${error}">
    Unable to login. Check your username and password.
</div>
<form method="post" th:action="@{/login}" id="loginForm">
    <fieldset>
        <legend>Authorization</legend>
        <label>
            Username
            <input type="text" name="username" pattern="^[A-Za-z0-9+_.-]+@(.+)$" required>
        </label>
        <label>
            Password
            <input type="password" name="password" minlength="6" required>
        </label>
        <br>
        <input type="submit"/>
        <a th:href="@{/register}" class="button-link">
            Registration
        </a>
    </fieldset>
</form>
</body>
</html>